*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(69,62,62);
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(4,200px);
gap: 0.4rem;
padding:4rem;
border: 2px solid white;
/* /* justify-items :stretch; * */
/* vertically items place karna haitoh */
/* align-items: stretch; */
 place-items: center;
}

.item{
    /* height: 50px;
    width: 100px; */
    background: rgb(4, 24, 24);
    border: 5px solid rgb(217,202,202);
    /* horixontal
 matlab '|' access mai place hoga */
 /* justify align self */
    
    /* vertical access mei */
    /* align-self: stretch; */
    /* combination of vertically and horixontally access */
    /* place-self: stretch; */

}